body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCF5ED;
}

header {
    background-color: #1F1717;
    color: white;
    text-align: center;
    padding: 0.5px 1px; /* Adjust padding as needed */
    line-height: 0.5;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* To ensure it's above other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.header-left,
.header-right {
    display: flex;
}

.header-button {
    background-color: #281e1e;
    color: rgb(255, 255, 255);
    font-size: large;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 15px;
    margin-top: 130px; 
}

.grid-item {
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.button {
    display: block;
    background-color: #895933;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin:10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #555;
}
